<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>

<div class="container">

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.getId()}"></td>
        <td th:text="${member.getName()}"></td>
        <td th:text="${member.getPassword()}"></td>
      </tr>
    </tbody>

  </table>

</div>

</body>
</html>