/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/* 컬러, 폰트 변수 setting */
:root {
    --header-height: 3rem;

    /* 사용자 값에 따라 변경 가능하도록 */

    /* HSL 색삭표 참고 사이트
    https://www.w3schools.com/colors/colors_hsl.asp
    purple 250, green 142, blue 230 pink 340 */

    --hue-color: 250;

    /* -----------------HSL color 변수------------------ */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /* --------------------Font size 변수-------------------- */

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    /* Font weight */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* --------------------Margin 변수-------------------- */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* -------------------z-index 변수-------------------- */

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* 반응형 스크린 기본 setting */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* 스크롤 이동 부드럽게 */
    scroll-behavior: smooth;
}

body {
    /* margin: 0 0 var(--header-height) 0; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    /* background: url("../img/section1_img2.png") center; */
    /* background-size: cover; */

    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    /* 리스트 스타일 없음 */
    list-style: none;
}

a {
    /* a 태그 문자 밑줄 삭제 */
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}



.main_Header_Container {
    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: center;

    text-align: center;

    background-color: #2B0D4B;
    width: 100%;
    height: auto;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.nav {
    min-width: 968px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    padding-right: 0;
    height: auto;
}

.nav__logo {
    /* color: var(--title-color); */
    color: #fff;
    font-weight: var(--font-medium);
    font-size: 25px;
}

.nav_menu {
    display: flex;
    gap: 2rem;
}

.nav_items {
    font-size: 15px;
    font-weight: var(--font-medium);
    color: var(--first-color);
}

.nav_items:hover {
    color: #fff;
}

.nav_btn {
    border-radius: 8px;
    background-color: #FFF;
    padding: 0 1rem;
}

.nav_btn:hover{
    border-radius: 8px;
    background-color: var(--first-color);
    padding: 0 1rem;
}

.nav_btn:hover > .nav_items {
    color: #2B0D4B;
}

.main_home_Container {
    width: 100%;
    height: fit-content;
    position: relative;
}

.section_img1  {
    position: absolute;
}

.section_img2 {
    padding-top: 200px;
    margin-left: 600px;
    /* padding-left: 500px; */

    position: absolute;
    float: right;

    z-index: 3;
    width: 100vw;
}

.imgPeople {
    position: absolute;
    z-index: 4;
}

.imgBubble {
    position: absolute;
    right: 500px;
    bottom: -200px;
    width: 200px;
    z-index: 2;
    animation: up-down 1.4s infinite ease-in-out alternate;
    transform: translate(0px, 0px);
}

.imgBubble2 {
    position: absolute;
    /* top: calc(4.07407vh); */
    right: 50px;
    bottom: -50px;
    width: 300px;
    z-index: 2;
    /* animation: 2s ease 0s infinite normal none running upDown; */
    animation: up-down 2.0s infinite ease-in-out alternate;
    transform: translate(0px, 0px);
}

@keyframes up-down{
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(-20px);
    }
}

.section_img2 {
    max-width: 700px;
}

.section_Title {
    position: absolute;
    padding-top: 300px;
    margin-left: 150px;

    overflow: hidden;
    animation: fadein 1s ease-in-out;

    text-align: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.section_Title > h4 {
    font-size: 40px;
}

.section_Title > h1 {
    font-size: 80px;
    color: var(--first-color);
}

.dump {
    height: 600px;
    background-color: #2b0d4b60;
}

.main_Content_Container {
    height: auto;
    background-color: #2b0d4b60;
    z-index: 1;
}

.Content_section1 {
    min-height: 100vh;
    border-radius: 100px 0 0 0 ;
    padding-top: 10rem;
    background-color: #fff;

    display: grid;
    justify-content: center;
    text-align: center;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.Content_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Content_items > h1:first-child {
    color: var(--first-color);
    font-size: 50px;
    font-weight: bolder;
}

.Content_items2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.Content_items2 > h1:nth-child(2) {
    color: #2B0D4B;
    font-weight: bolder;
}

























/*==================== FOOTER ====================*/
.footer {
    padding-top: 2rem;
    background-color: #2b0d4b60;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__bg {
    /* background-color: var(--first-color-second); */
    padding: 2rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover {
    color: var(--first-color-lighter);
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title, .footer__subtitle, .footer__link, .footer__social {
    color: #FFF;
}

.footer_img {
    position: absolute;
    z-index: -1;
    right: 500px;
    bottom: 20px;
}

.footer_img_Area {
    position: relative;
    background-color: #2B0D4B;

    border-radius: 100px 0 0 0;


    width: 2000px;
    height: 150px;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu {
        padding: 2rem .25rem 4rem;
    }
    .nav__list {
        column-gap: 0;
    }
    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    .home__blob {
        width: 180px;
    }
    .skills__title {
        font-size: var(--normal-font-size);
    }
    .qualification__data {
        gap: .5rem;
    }
    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content {
        padding-right: 3.5rem;
    }
    .services__modal {
        padding: 0 .5rem;
    }
    .project__img {
        width: 200px;
    }
    .testimonial__data, .testimonial__header {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data, .testimonial__description {
        text-align: center;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    .about__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon, .nav__close, .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0;
    }
    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob {
        width: 270px;
    }
    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px;
    }
    .about__description {
        text-align: initial;
    }
    .about__info {
        justify-content: space-between;
    }
    .about__buttons {
        justify-content: initial;
    }
    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mb-1);
    }
    .qualification__sections {
        grid-template-columns: .5fr;
    }
    .services__container {
        grid-template-columns: repeat(2, 218px);
        justify-content: center;
    }
    .services__icon {
        font-size: 2rem;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }
    .services__modal-content {
        width: 450px;
    }
    .portfolio__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
    .project {
        text-align: initial;
    }
    .project__bg {
        background: none;
    }
    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data {
        padding-top: .8rem;
    }
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        z-index: 2;
    }
    .footer__bg {
        padding: 3rem 0 3.5rem;
    }
    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
    .footer__copy {
        margin-top: 4.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }
    .home__blob {
        width: 320px;
    }
    .home__social {
        transform: translateX(-6rem);
    }
    .services__container {
        grid-template-columns: repeat(2, 238px);
    }
    .portfolio__content {
        column-gap: 5rem;
    }
    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: -4.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        bottom: 0;
    }
    .testimonial__description {
        margin-bottom: 4rem;
    }
    .contact__form {
        width: 460px;
    }
    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}


.empty {
    height: 650px;
}

.empty__container {
    row-gap: 0;
    height: 100%;
}

